
*.iml

.idea/encodings.xml

.idea/google-java-format.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

.idea/libraries/junit_4_12.xml

.idea/libraries/hamcrest_core_1_3.xml

.idea/workspace.xml___jb_old___

.idea/uiDesigner.xml

.idea/copyright/profiles_settings.xml

.idea/copyright/Urania.xml
.DS_Store
